<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.boot.ohouse.dao.IDrugShapeDAO">
  		
  		<!-- 약모양 다중 검색 -->
  		<select id="drugShapeSearch" parameterType="HashMap"
  														resultType="com.boot.ohouse.model.DrugShapeVO">
  			SELECT * FROM drugshape 
  			WHERE 
  				
  				
  				<if test="drug_shape != null">
  					drug_shape = #{drug_shape} AND
  				</if>  				
  				<if test="color_class != null">
  					 color_class = #{color_class} AND
  				</if> 
  				<if test="line_front != null">
  					line_front = #{line_front} AND
  				</if>
  				
  				<!-- 제형
  					경질, 연질 : 폼 value 값을 변수로
  					정제 : 쿼리 통해 경질, 연질을 제외한 약 목록 조회
  						 1.정제: 나정, 필름 코팅정, 설하정, 붕해현탁정, 당의정, 다층정 등이 있음.
  						 2. 경질, 연질약 제형에는 캡슐제라는 글자가 포함되어 있음
  						 	(예: 경질 캡슐제, 연질 캡슐제)
  				  -->
  				<if test="form_code_name != null">
	  					 form_code_name LIKE CONCAT('%',#{form_code_name},'%') AND
  				</if>
  				<if test="form_code_name != null and form_code_name.equals('정제')">
  					 form_code_name NOT LIKE CONCAT('%캡슐%') AND 
  					 <!-- 경질, 연질약은 이름에 캡슐을 포함함(ex 경질캡슐제, 연질캡슐제) -->
  				</if>
  				
  				<!-- AND 조건 쿼리문 앞쪽에 있으면 앞에 항목이 null인 경우 쿼리 문법 오류 발생 
  				 맨앞에 항목이 NULL이거나 모두 널이어도 실행 될수 있도록
  				 결과에 영향이 없는 무조건 참인 조건을 추가함.  -->	
  				1=1
  																	
		</select>
  		
  		<!-- <select id="drugShapeListView" parameterType="com.boot.ohouse.paging.Criteria" resultType="com.boot.ohouse.model.DrugShapeVO">
  			SELECT <include refid="boardColumns" />  
  			FROM drugshape
  			LIMIT
				#{pageStart}, #{perPageNum}
  		</select> -->
  		<select id="drugShapeListView" resultType="com.boot.ohouse.model.DrugShapeVO">
  			SELECT * FROM drugshape
  			LIMIT 1, 10
				<!-- #{pageStart}, #{perPageNum} -->
				
  		</select>
  		
  		<!-- 페이징위한 쿼리 -->
  		<!-- 게시물 목록(페이징) -->
	    <select id="getListPaging" resultType="com.boot.ohouse.model.DrugShapeVO">
	    
	        select * from drugshape 
	                	                
	        limit #{skip},#{amount}
	    
	    </select>
  		
  		
  		<!-- 총 게시글 갯수 출력 -->
		<select id="getTotal" resultType="int">
			SELECT COUNT(*) FROM drugshape
			
			
		</select>
		
		
  		
  </mapper>